{% extends 'template.html.twig' %}

{% block title %} liste des etudiants {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/styles.css") }}">
{% endblock %}



{% block body %}
    <div class="container mt-3">
        <h1>Liste des étudiants ✅</h1> <br>
        <h5><a href="{{ path('etudiant.form') }}" class="link">Ajouter un étudiant</a></h5> <br>
        <table class="table">
            <tr class="table-active">
                <td>Nom</td>
                <td >Prénom</td>
                <td>Section</td>
                <td>Action</td>
            </tr>
            {% for etudiant in etudiants %}
                <tr class="  table-{% if loop.index is odd %}danger{% else %}warning{% endif %} ">
                    <td>{{ etudiant.nom }}</td>
                    <td>{{ etudiant.prenom }}</td>
                    <td>{% if etudiant.section == null %}
                            Etudiant non encore affecté à une section
                        {% else %}
                            {{ etudiant.section.designation }}
                        {% endif %}
                    </td>
                    <td class="ligne"><a href="{{ path('etudiant.form',{id : etudiant.id } ) }}" class="link">editer</a> <a
                                href="{{ path('etudiant.delete',{id : etudiant.id } ) }}" class="link">delete</a></td>
                </tr>
            {% endfor %}
        </table>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset("assets/script.js") }}" ></script>
{% endblock %}